body {
    background-color: #c1ebe6;
    appearance: none;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: aliceblue;
    width: 100vw;
    height: 20vh;
    place-items: center;
    justify-content: center;
}

.headerText{
    font-size: 3rem;
    font-weight: bold;
}

.mainPage{
    display: flex;
    width: 100vw;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color:antiquewhite;
    height: 70vh;
    align-items: center;
    gap: 10px;
}

.sidebarTitle{
    font-weight: bold;
    font-size: 2rem;
}

.sidebarWrap{
    min-width: 25vw;
    min-height: 10vh;
    border: 2px solid rgb(168, 152, 152);
}

.todos{
    display: flex;
    flex-direction: column;
    width: 70vw;
    /* justify-content: center; */
    background-color:beige;
    align-items: center;
    gap: 10px;
}

.contentTitle{
    font-size: 2rem;
    font-weight: bold;
}

.contentWrap{
    min-width: 65vw;
    min-height: 10vh;
    border: 2px solid rgb(129, 115, 115);
    display: flex;
}

dialog::backdrop{
    backdrop-filter: blur(4px);
}

.todoObj{
    background-color: aliceblue;
    max-width:150px;
    border: 1px solid gray;
    border-radius: 6px;
}