body {
    background-color: #c1ebe6;
    appearance: none;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: aliceblue;
    width: 100vw;
    height: 20vh;
    place-items: center;
    justify-content: center;
}

.headerText{
    font-size: 3rem;
    font-weight: bold;
}

.mainPage{
    display: flex;
    width: 100vw;
}

.sidebar{
    display: flex;
    width: 30vw;
    background-color:antiquewhite;
    height: 70vh;
    justify-content: center;
}

.sidebarTitle{
    font-weight: bold;
    font-size: 2rem;
}

.todos{
    display: flex;
    width: 70vw;
    justify-content: center;
    background-color:beige;

}

.contentTitle{
    font-size: 2rem;
    font-weight: bold;
}